*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/*
*/.gradle/*
.gradle

.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
.salive

cieidsdk/build/
appcie/build/intermediates
appcie/build/kotlin
appcie/build/tmp
appcie/build/reports
appcie/build/generated
appcie/build/outputs/logs
appcie/build/kotlinToolingMetadata
appcie/build/outputs/sdk-dependencies
appcie/build/outputs/apk/release
appcie/build/outputs/apk/debug/output-metadata.json
app/build/intermediates
app/build/kotlin
app/build/tmp
app/build/reports
app/build/generated
app/build/outputs/logs
app/build/kotlinToolingMetadata
app/build/outputs/sdk-dependencies
app/build/outputs/apk/release
app/build/outputs/apk/debug/output-metadata.json

app/src/main/res/values.goutputstream
